<header class="top-navigation-bg">
    <div class="flex items-center width-and-max-width margin-auto-right">
        <a class="flex items-center" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 63.1 63.37" class="face-logo">

                <g id="b2813627-db57-42b1-8dc8-1601e4f96ecb" data-name="head">
                    <g id="eca78ec3-a26c-49aa-be6c-ac54cc50251a" data-name="Head">
                        <g id="a4a55224-b36a-467e-8bfe-218820514e8c" data-name="Layer 11">
                            <path
                                d="M20.74,15.61C20,18.67,19,17.13,19,17.13s-1.31-.35-2.06-3.88a22.15,22.15,0,0,1-.49-3.51c-.09-1.93-.23-5.56.86-5.94s2.6,2.8,3.07,4.92A22.62,22.62,0,0,1,20.74,15.61Z"
                                transform="translate(-3.89 -2.97)"
                                style="fill:#bc4f04;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.6320852059005004px">
                            </path>
                        </g>
                        <g id="af628a8b-7f3c-4269-ae35-6ef29a8dae32" data-name="Layer 31">
                            <path
                                d="M13,14c-1.43-1.64-3.08-4.59-2.14-5.39s3.79,1.61,5.29,2.83a22.47,22.47,0,0,1,2.53,2.48c2.39,2.7,1.91,4,1.91,4s.63,1.72-2.26.5A22.68,22.68,0,0,1,13,14Z"
                                transform="translate(-3.89 -2.97)"
                                style="fill:#bc4f04;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.6320852059005004px">
                            </path>
                        </g>
                        <g id="bfd0b0a9-cacb-4e53-8c21-b6aa65529f49" data-name="Layer 12">
                            <path
                                d="M60.52,25.52V38s-.07,7.4-.26,11.71c-.78,9.18-3.84,14.82-13.19,15.19-4.38.17-10.06.51-14.68-.05C27.15,64.19,21.93,62.76,18.8,58a10.33,10.33,0,0,1-7.65.7c-2.36-.56-6.45-2.39-6.45-8.83,0-5.65,5.22-7.57,5.22-7.57L13.69,23.8l11.2-5.28,15.74-2L56,19.17Z"
                                transform="translate(-3.89 -2.97)"
                                style="fill:#fdc6ab;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.6320852059005004px">
                            </path>
                        </g>
                        <g id="e3e8ff94-16bc-4e05-9581-6bfcdaf80046" data-name="Layer 30">
                            <path
                                d="M41.4,64.25A56.34,56.34,0,0,1,32.48,64c-5.2-.62-9.54-1.81-12.48-5.76-.33.16-.63-2.17,1.4-1.73,2.78,3,4.77,3.63,8.58,4.74,6.14,1.78,16.69,2.59,18.64,2.61C49.69,64,43.52,64.2,41.4,64.25Z"
                                transform="translate(-3.89 -2.97)" style="fill:#f8a48e"></path>
                        </g>
                        <g id="b37a4327-7829-4ddc-9087-c2a06e1b0331" data-name="Layer 15">
                            <path
                                d="M19.45,23.94l2-6.11,19.68-3.71L60.52,24.17s-.58,4.54-4,5.74C53.09,30.19,40.1,26,31.9,26c-6,0-6.66,3.92-9.91,7.34-.59.61-1.79.35-2.54,1-.92-.05-1.19-5-.92-5.42Z"
                                transform="translate(-3.89 -2.97)" style="fill:#f8a48e"></path>
                        </g>
                        <g id="e7ad175c-3f46-45f7-9ea0-dafcc5970807" data-name="Layer 14">
                            <path
                                d="M38.43,46.82a63.39,63.39,0,0,1-7,.16c-4.58,0-5.29-1.91-6.48-5.23a37.26,37.26,0,0,1-1.11-7.22c-.11-1.79,1.92-1.61,2.55-1.61H40c1.55.17,3,.4,2.86,2.06l-.52,7.15S42.31,46.58,38.43,46.82Zm4-4.27.52-7.15c.16-1.66-1.31-1.9-2.86-2.06H26.38c-.63,0-2.66-.18-2.55,1.61a37,37,0,0,0,1.11,7.21c1.19,3.33,1.9,5.25,6.48,5.24a63.39,63.39,0,0,0,7-.16C42.31,47,42.38,42.55,42.38,42.55Zm9.67,4.27a63.39,63.39,0,0,0,7,.16c4.58,0,5.29-1.91,6.48-5.23a37.26,37.26,0,0,0,1.11-7.22c.1-1.79-1.92-1.61-2.55-1.61H50.44c-1.55.17-3,.4-2.86,2.06l.52,7.15S48.17,46.58,52.05,46.82Zm0,.42a63.39,63.39,0,0,0,7,.16c4.58,0,5.29-1.91,6.48-5.24A37,37,0,0,0,66.65,35c.1-1.79-1.92-1.62-2.55-1.61H50.44c-1.55.16-3,.4-2.86,2.06l.52,7.15S48.17,47,52.05,47.24Zm-4.48-7.38H42.44v.08h5.13Zm18.95-5.34L61,36.67v0l5.55-2.14Zm-43-.2-5.77,2.23v0l5.77-2.23Z"
                                transform="translate(-3.89 -2.97)"
                                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.057570616837256px">
                            </path>
                        </g>
                        <g id="a638fa32-df1e-4c20-8cbc-96a6f8ae70bc" data-name="Layer 13">
                            <path
                                d="M49,53.29a2.28,2.28,0,0,1-2.38,2.51c-1.54.08-2.72,0-3.17-2.18m0,.36c.45,2.21,1.63,2.26,3.17,2.19A2.29,2.29,0,0,0,49,53.65"
                                transform="translate(-3.89 -2.97)"
                                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.2693996045892781px">
                            </path>
                        </g>
                        <g id="b5c7d4bd-fa8d-4e61-b971-bc12533e6d33" data-name="real">
                            <path
                                d="M64.94,18c-.29,1.83-.61,5.07-3.8,7.18a8.76,8.76,0,0,1-4,1.41,20.09,20.09,0,0,1-5.32-.37c-.36-.08-4.32-1.48-13.19-3.58a24.37,24.37,0,0,0-5.87-.73c-3,0-5.23.14-7.46,3-1.94,2.53-3.79,6.37-3.86,7.89,0,.56.83-7.56.09-6.82a10.55,10.55,0,0,0-2,3.92,19.28,19.28,0,0,0-.68,4.32c-.07,2.43-.13,4,1,6.18a20.43,20.43,0,0,1,2.78,6.21c.26,1.16.51,2.29-.7,2.72S19.7,50,19,48.65a15.16,15.16,0,0,0-2.75-3.8c-1.2-1.05-4.66.52-6.51-1.79a22.15,22.15,0,0,1-3.12-6.27,27,27,0,0,1-1.23-6.35c0-2.67-.34-9.07,3.68-12.78a9.87,9.87,0,0,1,7.37-2.2c.79.16,2.38.59,2.67-.23.27-1.34.41-3.26.68-4.23.91-3.38,3.11-6.29,9.18-6.16a58.32,58.32,0,0,1,10.38,1c4.54.93,7.49,1.7,9,2.13a29.26,29.26,0,0,0,6.79,1.25C58,9.38,59.54,8.08,59.94,7c.49-1.37.48-2.84,1.59-1.08.16.29.34.52.62,1s.93,1.41,1.58,2.61a13.5,13.5,0,0,1,1.13,3.84A24.24,24.24,0,0,1,64.94,18Z"
                                transform="translate(-3.89 -2.97)"
                                style="fill:#bc4f04;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.6320852059005004px">
                            </path>
                        </g>
                    </g>
                    <g id="a27d1d06-ee12-4f84-8abd-516bfea28a98" data-name="Layer 10">
                        <path d="M11.8,51.06a5.35,5.35,0,0,1-2.38-2h1.67s5.23,1.34,4.91,2-3.76,1.44-3.76,1.44l-.44-1.2"
                            transform="translate(-3.89 -2.97)" style="fill:#e5ab8e"></path>
                        <path
                            d="M17.93,51.33a.82.82,0,0,1-1,.54L9.29,49.51A.82.82,0,1,1,9.77,48l7.62,2.36A.82.82,0,0,1,17.93,51.33Z"
                            transform="translate(-3.89 -2.97)"></path>
                        <path d="M13.75,51l-1.62,2.81a.82.82,0,1,1-1.41-.82l1.62-2.8a.81.81,0,1,1,1.41.81Z"
                            transform="translate(-3.89 -2.97)"></path>
                        <path d="M36.8,40.94a2,2,0,1,1-2-2A2,2,0,0,1,36.8,40.94Z" transform="translate(-3.89 -2.97)">
                        </path>
                        <path d="M56.74,40.94a2,2,0,1,1-2-2A2,2,0,0,1,56.74,40.94Z" transform="translate(-3.89 -2.97)">
                        </path>
                        <path
                            d="M37.06,37.27a.7.7,0,0,1-.69.7H33.18a.7.7,0,0,1-.69-.7.69.69,0,0,1,.69-.69h3.19A.69.69,0,0,1,37.06,37.27Z"
                            transform="translate(-3.89 -2.97)"></path>
                        <path
                            d="M37.06,37.62a.69.69,0,0,1-.69.69H33.18a.69.69,0,0,1-.69-.69.7.7,0,0,1,.69-.7h3.19A.7.7,0,0,1,37.06,37.62Z"
                            transform="translate(-3.89 -2.97)" style="opacity:0.17"></path>
                        <path
                            d="M57,37.27a.7.7,0,0,1-.69.7H53.13a.71.71,0,0,1-.7-.7.7.7,0,0,1,.7-.69h3.19A.69.69,0,0,1,57,37.27Z"
                            transform="translate(-3.89 -2.97)"></path>
                        <path
                            d="M57,37.62a.69.69,0,0,1-.69.69H53.13a.7.7,0,0,1-.7-.69.71.71,0,0,1,.7-.7h3.19A.7.7,0,0,1,57,37.62Z"
                            transform="translate(-3.89 -2.97)" style="opacity:0.17"></path>
                        <path
                            d="M44.84,50a.55.55,0,0,1-.54-.55.54.54,0,0,1,.54-.54c1.83,0,1.92-.2,1.92-.76s-.09-.88-1.92-.88a.55.55,0,0,1-.54-.55.54.54,0,0,1,.54-.54c1,0,3,0,3,2S46.18,50,44.84,50Z"
                            transform="translate(-3.89 -2.97)"></path>
                        <path
                            d="M44.7,50.11a.54.54,0,0,1-.54-.54A.55.55,0,0,1,44.7,49c1.83,0,1.92-.19,1.92-.76s-.09-.88-1.92-.88a.55.55,0,0,1,0-1.09c1,0,3,0,3,2S46,50.11,44.7,50.11Z"
                            transform="translate(-3.89 -2.97)" style="opacity:0.13"></path>
                        <path
                            d="M18.53,59.05a.81.81,0,0,1-.69-.39.82.82,0,0,1,.26-1.13l1.67-1c.5-.29.87-.52,1.16-.67l0,0,0,0c.69-.36.92-.3,1.23.19a.83.83,0,0,1-.32,1.16.6.6,0,0,1-.16.08l-1.07.64-1.66,1A.75.75,0,0,1,18.53,59.05Z"
                            transform="translate(-3.89 -2.97)"></path>
                    </g>
                </g>
            </svg><svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="53 0 137.1 63.37" class="text-logo">
                <g id="bad633b6-b432-4d35-9b60-632a4bf516ea" data-name="venkatraj">
                    <g id="fe2a18ed-e02e-4498-b6ad-d75702c8af51" data-name="E bottom">
                        <path d="M110.2,46.38h-12V41.13h12Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.0181521987450874px">
                        </path>
                    </g>
                    <g id="e0a56c5e-62e7-493f-935b-c8bcc12834cf" data-name="V second">
                        <path d="M87.17,46.43h-6.3l7.51-20.85h6.29Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.8603043156838358px">
                        </path>
                    </g>
                    <g id="a225198a-f572-4737-99ae-9e2894edc24c" data-name="V first">
                        <path d="M73,25.58h6.29l7.51,20.85h-6.3Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.8603043156838358px">
                        </path>
                    </g>
                    <g id="b5c85e42-7713-4e93-a798-c038b93c4786" data-name="E middle">
                        <circle cx="103" cy="32.76" r="3.17"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9009201632429591px">
                        </circle>
                    </g>
                    <g id="bb4bd4d6-fde4-4f90-9168-3a8aa0f091a9" data-name="E start">
                        <path d="M110.2,30.89h-12V25.65h12Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.0181521987450874px">
                        </path>
                    </g>
                    <g id="bbaf0f23-3020-4cac-b50c-53cc57683c90" data-name="Layer 32">
                        <path d="M103.34,46.43H97V25.61h6.36Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9299390700580533px">
                        </path>
                    </g>
                    <g id="e05a903e-30e5-45a8-a901-1bf0e9d645d7" data-name="T bottom">
                        <path d="M184,46.39h-6.71V25.57H184Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9491887077891616px">
                        </path>
                    </g>
                    <g id="e95a78f9-c1cb-4ca0-9331-42c301d38306" data-name="T top">
                        <path d="M188.79,32H172.46V25.63h16.33Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9074501722236408px">
                        </path>
                    </g>
                    <g id="ef7521ab-897a-4407-9e17-4767c412de3d" data-name="A left">
                        <path d="M160.35,25.58h6.29l-7.5,20.85h-6.3Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.8603043156838358px">
                        </path>
                    </g>
                    <g id="ed4666a8-633a-4de9-befb-96c8dfd133ae" data-name="A right">
                        <path d="M174.48,46.43h-6.3l-7.5-20.85H167Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.8603043156838358px">
                        </path>
                    </g>
                    <g id="a5662af3-9e37-49cd-8805-5b89e5019f12" data-name="N START">
                        <path d="M119,46.38h-6.36V25.65H119Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9297151274757315px">
                        </path>
                    </g>
                    <g id="fac3cf64-1116-4a2c-ad8a-dbafc0604607" data-name="N end">
                        <path d="M130.56,46.38h-6.35V25.65h6.35Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9297015890347486px">
                        </path>
                    </g>
                    <g id="a16de530-672a-4bd5-a63f-817ef230633e" data-name="N middle">
                        <path d="M130.56,46.38h-6.35L112.64,25.65H119Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9297015890347486px">
                        </path>
                    </g>
                    <g id="aaf6a777-d9e2-4ba1-adee-a35c9b42aaf0" data-name="K bottom">
                        <path d="M150.59,46.38h-6.32l-5.44-10.1h6.31Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.0311088817666547px">
                        </path>
                    </g>
                    <g id="ac2696fa-bc03-4117-b135-8bf97754a9a7" data-name="K top">
                        <path d="M145.14,35.79h-6.31l5.44-10.11h6.32Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.0311088817666547px">
                        </path>
                    </g>
                    <g id="abe5cff4-cf4f-4912-a8ad-d469e92c295c" data-name="K start">
                        <path d="M139,46.42h-6.27V25.61H139Z" transform="translate(-3.89 -2.97)"
                            style="fill:#ff1d58;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9233505111666389px">
                        </path>
                    </g>
                </g>
            </svg>
        </a>
        <ul class="top-navigation-list-type menu">
            <li><a class="pointer-arrow" href="/blog">Blog</a></li>
            <li><a class="pointer-arrow" href="/blog">Category</a></li>
            <li><a class="pointer-arrow" href="/course">Course</a></li>
            <li><a class="pointer-arrow" href="/portfolio">Portfolio</a></li>
            <li><a class="pointer-arrow" href="/about">About Me</a></li>
        </ul>
        <div id="menu-toggle" class="menu-icon" style="padding: 10px; cursor: pointer;">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
        </div>
        <a href="#" class="blue-background button-padding button-border-radius items-center flex ">
            <span class="font-medium">Resume</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.75 13.75C13.75 14.1642 13.4142 14.5 13 14.5L3 14.5C2.58579 14.5 2.25 14.1642 2.25 13.75C2.25 13.3358 2.58579 13 3 13L13 13C13.4142 13 13.75 13.3358 13.75 13.75Z"
                    fill="currentColor"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.7487 2C8.7487 1.58579 8.41291 1.25 7.9987 1.25C7.58448 1.25 7.2487 1.58579 7.2487 2L7.2487 9.53955L3.19233 5.51449C2.89831 5.22274 2.42344 5.22458 2.13168 5.5186C1.83993 5.81263 1.84177 6.2875 2.13579 6.57925L7.46912 11.8714C7.76154 12.1616 8.23325 12.1616 8.52567 11.8714L13.859 6.57926C14.153 6.2875 14.1549 5.81263 13.8631 5.5186C13.5714 5.22458 13.0965 5.22274 12.8025 5.51449L8.7487 9.53697L8.7487 2Z"
                    fill="currentColor"></path>
            </svg>
        </a>
    </div>
</header>